* {
	border-radius: 3px;
	border: none;
}

window {
	font-size: 14px;
	font-family: CaskaydiaCove Nerd Font Mono;
	background-color: #0C0E0F;
	color: #d8dee9;
	border-bottom: 3px solid #0F1011;
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	/background-color: #5e81ac;
	background: linear-gradient(90deg, #585A58, #343835);
	/* background: #4C99D3; */
}

#text:selected {
	color: #0F1011;
}

#input {
	background-color: #0F1011;
	color: #d8dee9;
	padding: 0.25em;
}
