window {
	font-size: 12px;
	font-family: CaskaydiaCove Nerd Font;
	background-color: #0C0E0F;
	color: #d8dee9;
}

#text {
	margin-left: 6px;
}

#entry {
	margin-left: 6px;
}

#entry:selected {
	background-color: #5e81ac;
	background: linear-gradient(90deg, #585A58, #343835);
	margin-left: 6px;
	/* background: #4C99D3; */
}

#text:selected {
	color: #0C0E0F;
}

#input {
	background-color: #0C0E0F;
	color: #d8dee9;
}
